<h1>Listing de usuarios</h1>
<br>
<table>
  <tr>
    <th>Nombre de Usuario</th>
    <th>Email</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.username %></td>
    <td><%= usuario.email %></td>
    <td><%= usuario.admin %></td>
    <td>&nbsp &nbsp <%= link_to 'Mostrar', usuario %></td>
    <td>&nbsp <%= link_to 'Editar', edit_usuario_path(usuario) %></td>
    <td>&nbsp <%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: '¿Esta usted seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Usuario', new_usuario_path %>
