<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @post.titulo %>
</p>
<p>
	<% if @post.has_photo? %>
		<%= image_tag @post.photo_path%>
	<% else %>
		<b>Problema al subir tu foto</b>
	<% end %>
</p>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Atras', posts_path %> |